* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .grid-container {
//     display: grid;
//     grid: 
//         "h h h"
//         "l m r"
//         "f f f";
//     width: 80vh;
//     height: 80vh;
//     background-color: #ddd;

//     header {
//         grid-area: h;
//         background-color: #ffe4c4;
//     }

//     aside.left {
//         grid-area: l;
//         background-color: #5f9ea0;
//     }

//     main {
//         grid-area: m;
//         background-color: #90ee90;
//     }

//     aside.right {
//         grid-area: r;
//         background-color: #778899;
//     }

//     footer {
//         grid-area: f;
//         background-color: #7fffd4;
//     }
// }

// .flex-container {
//     display: flex;
//     flex-wrap: wrap;
//     flex-flow: row-reverse;
//     // justify-content: space-evenly;
//     // align-items: flex-start;
//     width: 1000px;
//     background-color: blue;


//     .item {
//         border: 1px solid red;
//         background-color: white;
//         padding: 10px;
//     }
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 10vh;
    background: #666;
    color: #CCC;
}

.menu_row {
    height: 3em;
    display: flex;
    background: #CCC;
    border: 3px solid orange;
}

.main_menu {
    display: flex;

    &>div {
        flex-grow: 2;
    }
    
    ul {
        display: flex;
        flex-grow: 3;
        list-style-type: none;
        
        li {
            flex-grow: 1;
            padding: 10px;
            text-align: center;
            transition: .4s;

            &:nth-child(1) {
                background-color: #5fafd4;
            }
            &:nth-child(2) {
                background-color: #ec91dd;
            }
            &:nth-child(3) {
                background-color: #85d17b;
            }

            &:hover {
                flex-grow: 2;
            }
        }
    }
}